# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
archive/
data/
models/backups/
models/checkpoint.pth

# Environments
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
